body{
    font-family: "Montserrat";
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold";
}
p{
    color: #8f8f8f;
}
.big-heading{
    font-family: "Montserrat-Bold";
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
#title{
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}
.container-fluid{
    padding: 3% 15%;
}
.icon{
    color: #ef8172;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
.navbar{
    padding-bottom: 2.5rem;
}
.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0px 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    /* position: absolute; */
    right: 30%;
}
/* feature */
#feature{
    padding: 7% 15%;
    /* background-color: #fff;  */
    /* position: relative; */
}
.feature-title{
    font-size: 1.5rem;
}
.feature-box{
    
    padding: 4.5%;
}
/* Testimonials */
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#testimonials{
    
    
    background-color: #ff4c68;
    color: #fff;
}
.testimonials-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}
#press{
    background-color: #ff4c68;
    padding-bottom:3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
/* pricing */
#pricing{
    padding: 100px;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-column{
    padding: 3% 2%;
}
@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
/* cta section */
#cta{

    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
}

/* footer section  */
#footer{
  
    background-color: #fff;
    padding: 7% 15%;
}
.social-icon{
    margin: 20px 10px;
}